/* nav */
body{
  margin: 0;
}
.navbar{
  background-color: rgb(223, 223, 223) !important;
}
.navbar-brand{
  padding-left: 30px;
}
.nav-item{
  padding-left: 15px;
  padding-right: 20px;
}
.nav-item:hover{
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}

.nav-link{
  font-weight: 700;
}

.navRightList{
  border: 2px solid grey;
  display: flex;
  margin: auto;
  margin-right: 40px;
  align-items: center;
  list-style: none !important;
  border-radius: 10px;
  background-color: navy;
  cursor: pointer;
  }

.contactMe{
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 30px 30px 30px 0px;
  color: white;
}

.navRightList:hover{
  color: white;
  background-color: rgb(212, 212, 212);
}

.headContent{
  background-color: white;
  margin: 120px 100px;
  padding: 50px 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(75, 75, 75);
  display: flex;
}

.content{
  display: block;
  flex: 50%;
  margin-right: 50px;
}

.button{
  margin-bottom: 25px;
}

.button a{
  text-decoration: none;
  padding: 10px;
}

.contact{
  border-color: navy;
  background-color: navy; 
  color: rgb(255, 255, 255);
  font-size: 15px;
  border-radius: 15px;
  width: 100px;
  padding: 5px;
  cursor: pointer;
}

.contact:hover{
  border-color: rgb(138, 138, 138);
  background-color: rgb(138, 138, 138);
}

.downloadCV{
  cursor: pointer;
  margin-bottom: 25px;
}


.logoSosmed{
  display: flex;
  margin: auto;
}

.logoSosmed i{
  padding: 10px;
}

.display_card{
  border-radius: 10px;
  width: 35%;
  margin: auto;
  box-shadow: 0 0 15px rgb(197, 197, 197);
  text-align: center;
  padding-bottom: 10px;
}